In [1]:
import pandas as pd, numpy as np
import df_util
from df_util import head
work_path = lambda name: f'../working-data/{name}.csv'
read = lambda name: pd.read_csv(work_path(name))

In [2]:
df_county = read('everything_grouped')
df_dist = read('education_dist')
df_geo = read('geo_county_school')
df_geo_dist = df_geo[['county', 'dist', 'geo_county', 'geo_dist', 'geo_county_point', 'geo_dist_point']]
head(df_county, df_dist, df_geo_dist)

383 cols x 490 rows

,year,county,geo_county,geo_county_point,CRIME_NAME_COUNT__arson,CRIME_NAME_COUNT__assault_aggravated,CRIME_NAME_COUNT__assault_simple,CRIME_NAME_COUNT__bribery,CRIME_NAME_COUNT__burglary,CRIME_NAME_COUNT__credit_card_machine_fraud,...,EDU_NORM__white_mobile_instances_rate,EDU_NORM__black_stable_rate,EDU_NORM__black_mobile_rate,EDU_NORM__black_mobile_instances_rate,EDU_NORM__hispanic_stable_rate,EDU_NORM__hispanic_mobile_rate,EDU_NORM__hispanic_mobile_instances_rate,EDU_NORM__asian_stable_rate,EDU_NORM__asian_mobile_rate,EDU_NORM__asian_mobile_instances_rate
0,2012,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),105.0,1029.0,2835.0,2.0,2311.0,535.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
1,2013,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),73.0,899.0,2649.0,7.0,2144.0,437.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
2,2014,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),123.0,1033.0,2863.0,8.0,2073.0,526.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54

138 cols x 183 rows

,county,dist,pupil_total,stable,mobile,mobile_instances,disabled_pupil_total,disabled_stable,disabled_mobile,disabled_mobile_instances,...,white_mobile_instances_rate,black_stable_rate,black_mobile_rate,black_mobile_instances_rate,hispanic_stable_rate,hispanic_mobile_rate,hispanic_mobile_instances_rate,asian_stable_rate,asian_mobile_rate,asian_mobile_instances_rate
0,ADAMS,MAPLETON 1,9037.0,5077.0,3919.0,4133.0,735.0,469.0,261.0,279.0,...,52.08,48.04,51.40,53.63,60.31,39.19,42.19,47.22,52.78,53.70
1,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,49889.0,34283.0,15424.0,16854.0,4339.0,3001.0,1325.0,1501.0,...,32.27,55.98,43.94,47.41,67.30,32.23,36.81,81.07,18.84,21.15
2,ADAMS,ADAMS COUNTY 14,8265.0,5510.0,3038.0,3397.0,876.0,636.0,266.0,311.0,...,47.45,48.20,51.80,53.60,68.67,35.20,39.57,80.00,20.00,20.00

6 cols x 183 rows

,county,dist,geo_county,geo_dist,geo_county_point,geo_dist_point
0,ADAMS,MAPLETON 1,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-105.01581612299998 39.8144774...,POINT (-104.1930918 39.8398269),POINT (-104.9187196 39.8415103)
1,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-105.05310614499996 39.9302934...,POINT (-104.1930918 39.8398269),POINT (-104.9668135 39.9262994)
2,ADAMS,ADAMS COUNTY 14,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-104.96883410999999 39.7910064...,POINT (-104.1930918 39.8398269),POINT (-104.9268419 39.8059605)

In [3]:
df_dist = (df_geo_dist
    .merge(df_dist, on=['county', 'dist'])
    [ ~ df_geo_dist.geo_dist.isna()]
)

head(df_county, df_dist)

383 cols x 490 rows

,year,county,geo_county,geo_county_point,CRIME_NAME_COUNT__arson,CRIME_NAME_COUNT__assault_aggravated,CRIME_NAME_COUNT__assault_simple,CRIME_NAME_COUNT__bribery,CRIME_NAME_COUNT__burglary,CRIME_NAME_COUNT__credit_card_machine_fraud,...,EDU_NORM__white_mobile_instances_rate,EDU_NORM__black_stable_rate,EDU_NORM__black_mobile_rate,EDU_NORM__black_mobile_instances_rate,EDU_NORM__hispanic_stable_rate,EDU_NORM__hispanic_mobile_rate,EDU_NORM__hispanic_mobile_instances_rate,EDU_NORM__asian_stable_rate,EDU_NORM__asian_mobile_rate,EDU_NORM__asian_mobile_instances_rate
0,2012,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),105.0,1029.0,2835.0,2.0,2311.0,535.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
1,2013,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),73.0,899.0,2649.0,7.0,2144.0,437.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
2,2014,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),123.0,1033.0,2863.0,8.0,2073.0,526.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54

142 cols x 174 rows

,county,dist,geo_county,geo_dist,geo_county_point,geo_dist_point,pupil_total,stable,mobile,mobile_instances,...,white_mobile_instances_rate,black_stable_rate,black_mobile_rate,black_mobile_instances_rate,hispanic_stable_rate,hispanic_mobile_rate,hispanic_mobile_instances_rate,asian_stable_rate,asian_mobile_rate,asian_mobile_instances_rate
0,ADAMS,MAPLETON 1,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-105.01581612299998 39.8144774...,POINT (-104.1930918 39.8398269),POINT (-104.9187196 39.8415103),9037.0,5077.0,3919.0,4133.0,...,52.08,48.04,51.40,53.63,60.31,39.19,42.19,47.22,52.78,53.70
1,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-105.05310614499996 39.9302934...,POINT (-104.1930918 39.8398269),POINT (-104.9668135 39.9262994),49889.0,34283.0,15424.0,16854.0,...,32.27,55.98,43.94,47.41,67.30,32.23,36.81,81.07,18.84,21.15
2,ADAMS,ADAMS COUNTY 14,MULTIPOLYGON (((-103.70574149517748 39.9999110...,MULTIPOLYGON (((-104.96883410999999 39.7910064...,POINT (-104.1930918 39.8398269),POINT (-104.9268419 39.8059605),8265.0,5510.0,3038.0,3397.0,...,47.45,48.20,51.80,53.60,68.67,35.20,39.57,80.00,20.00,20.00

In [4]:
df_county.columns = [c if '__' not in c else c.split('__')[1] for c in df_county.columns]
df_county = df_county.loc[:, ~ df_county.columns.duplicated()]
head(df_county)

355 cols x 490 rows

,year,county,geo_county,geo_county_point,arson,assault_aggravated,assault_simple,bribery,burglary,credit_card_machine_fraud,...,white_mobile_instances_rate,black_stable_rate,black_mobile_rate,black_mobile_instances_rate,hispanic_stable_rate,hispanic_mobile_rate,hispanic_mobile_instances_rate,asian_stable_rate,asian_mobile_rate,asian_mobile_instances_rate
0,2012,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),105.0,1029.0,2835.0,2.0,2311.0,535.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
1,2013,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),73.0,899.0,2649.0,7.0,2144.0,437.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54
2,2014,ADAMS,MULTIPOLYGON (((-103.70574149517748 39.9999110...,POINT (-104.1930918 39.8398269),123.0,1033.0,2863.0,8.0,2073.0,526.0,...,32.45,54.66,45.08,47.91,67.49,32.71,36.4,78.55,21.37,23.54

In [5]:
df_county.to_csv(work_path('everything_grouped_ready'), index=False)

In [6]:
df_dist.to_csv(work_path('education_dist_ready'), index=False)